<h1>VOICI MES TACHES</h1>
  <ul>
    <h2><% @tasks.each do |task| %></h2>
     <% unless task.check %>
      <li>
        <%= link_to task.name, task %>
        <%= link_to 'Delete', task,
          method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Update', edit_task_path(task),
          methode: :update, data: { confirm: 'Are you sure?' }  %>
      </li>
    <% end %>
    <% end %>
  </ul>

<%= link_to "Create a new task", new_task_path %>
<!--
je dois pouvoir consulter une tache en particulier
linkto la tache / en plus de name et de deadline, la description
pour chacune des taches je dois pouvoir delete
-->